extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Loc8r
          small &nbsp;Find places to work with wifi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Starbucks
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 2500m
          p.address Besides Iron Hill gym, Sainikpuri.
          p
            span.label.label-warning Hot drinks
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Hi-speed WIFI
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/locationc') OYOLA
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 2000m
          p.address Kamala Nagar, Behind Asian Radhika Multiplex, ECIL.
          p
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Premium Rooms
            | &nbsp;
            span.label.label-warning Spa
            | &nbsp;
            span.label.label-warning Hot drinks
            | &nbsp;
            span.label.label-warning Hi-speed WIFI
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location') McDonalds'
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 1000m
          p.address Besides HP petrol pump, Opposite to Central Biryani Pointe, NNRG crossroads, Ghatkesar.
          p
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Soft drinks
            | &nbsp;
            span.label.label-warning Ice Creams
            | &nbsp;
            span.label.label-warning Hi-speed WIFI
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Looking for wifi and a seat and great food? Loc8r helps you find places to work when out and about. Let Loc8r help you find the place you're looking for.